Source: digital-signage
Section: unknown
Priority: extra
Maintainer: Jonathan Reed <jdreed@mit.edu>
Build-Depends: debhelper (>= 7.0.50~), config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: digital-signage
Architecture: all
Depends: ${misc:Depends}, 
Description: Low-rent digital signage for a Pi
 This package pretends to be digital signage
