Source: digital-signage
Section: mit/extra
Priority: extra
Maintainer: Jonathan Reed <jdreed@mit.edu>
Build-Depends: debhelper (>= 7.0.50~), config-package-dev (>= 5.0~)
Standards-Version: 3.9.3

Package: digital-signage
Architecture: all
Depends: ${misc:Depends}, imagemagick, adduser, x11-apps, lighttpd, xdotool, python, gir1.2-gtk-3.0, gir1.2-gdkpixbuf-2.0, python-feedparser, python-support (>= 0.90), python-gi
Description: Low-rent digital signage for a Pi
 This package pretends to be digital signage
